<h1>Products</h1>


<div class="products">

  <% @products.each do |product| %>
    <div class="product">
      <div class="title">
        <%= product.name %>
      </div>

      <div class="info">


        <ul class="stats">
          <li><%= product.inventory %> Left</li>
          <li><%= number_to_currency product.price %></li>
        </ul>

        <%= link_to 'Add to Cart', add_to_cart_path(product_id: product.id), class: 'btn', method: :post %>

      </div>
    </div>
  <% end %>
</div>
